In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import signal
import os

In [4]:
data = pd.read_excel('datasets/data1.xlsx')
data

             ch1         ch2       ch3       ch4
0       37082.61    40712.98  40455.22  38192.24
1       37059.55    40748.93  40317.90  38215.58
2       37037.29    40793.18  40362.69  38235.43
3       37045.06    40786.21  40527.91  38217.99
4       37079.40    40730.96  40604.09  38159.52
...          ...         ...       ...       ...
621725  23738.36  1157082.78  22690.42  18594.68
621726  23697.05  1157191.14  22654.74  18623.38
621727  23693.03  1157308.62  22651.52  18630.09
621728  23722.26  1157305.13  22672.45  18599.24
621729  23738.62  1157260.07  22689.61  18571.08

[621730 rows x 4 columns]